body {
    background: #ffffff;
    width: 80%;
    margin: 0 auto;
}

@media (max-width: 871px) {
    body {
        background: #ffffff;
        width: 100%;
        margin: 0 auto;
    }
}

@media (min-width: 1751px) {
    body {
        background: #ffffff;
        width: 1751px;
        margin: 0 auto;
    }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: #2f2e2e12;
}

@media (min-width: 1200px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 100%;
    }
}

.container-lista {
    text-align: center;
}

.lista {
    border-top-left-radius: 22px;
    background: #e4e4e4;
    border-top-right-radius: 22px;
}

.item {
    border-bottom: 1px solid #cacaca;
    padding: 17px;
}

.item h2 {
    background: #e4e4e4;
}

.item h5 {
    background: #e9ecef;
    margin-bottom: 0px;
    padding: 4px;
}

.form-group {
    margin-bottom: 0rem;
    max-width: 500px;
    padding: 4px;
}

.cenblock {
    margin: 0 auto
}
.box>p,
.info {
    display: block
}

.cabecera {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

header {
    padding: 2rem;
    background: #fff;
    color: #969696;
    letter-spacing: 2px;
    width: 100%;
}
header>h1 {
    color: rgba(0, 0, 0, .6);
    margin: 0 0 .2rem;
    font-weight: 500
}
header>span {
    text-transform: capitalize;
    font-size: 1rem
}
.main {
    padding: 4rem 1rem;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    width: 100%;
}

.items>div {
    margin: .4em
}
.demo img {
    display: block;
    max-width: 100%;
    box-shadow: 0 3px 3px -1px rgba(0, 0, 0, .3), 0 1px 0 0 rgba(0, 0, 0, .05)
}
.navdemo {
    padding-bottom: 2rem
}
.navdemo>a {
    display: inline-block;
    margin: 0 5px;
    color: rgba(255, 255, 255, .3);
    border: 3px solid;
    padding: .6rem 1rem;
    font-weight: 400
}
.navdemo>a:hover {
    color: rgba(255, 255, 255, .6)
}
.navdemo>a.here {
    color: rgba(255, 255, 255, .9)
}
.album {
    margin-right: -.5rem;
    margin-left: -.5rem
}
.album .card {
    padding: 0 .5rem
}

/*Paragraph Grid*/
@media (min-width: 576px) {
    .pgrid {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-right: -.5em;
        margin-left: -.5em;
    }
    .pgrid [class*='pg-'] {
        padding-right: .5em;
        padding-left: .5em;
    }
    .pg-1 {
      flex: 0 0 8.3333%;
    }
    .pg-2 {
      flex: 0 0 16.666667%;
    }
    .pg-3 {
      flex: 0 0 25%;
    }
    .pg-4 {
      flex: 0 0 33.333333%;
    }
    .pg-5 {
      flex: 0 0 41.666667%;
    }
    .pg-6 {
      flex: 0 0 50%;
    }
    .pg-7 {
      flex: 0 0 58.333333%;
    }
    .pg-8 {
      flex: 0 0 66.666667%;
    }
    .pg-9 {
      flex: 0 0 75%;
    }
    .pg-10 {
      flex: 0 0 83.333333%;
    }
    .pg-11 {
      flex: 0 0 91.666667%;
    }
    .pg-12 {
      flex: 0 0 100%;
    }
}


@media (min-width: 640px) {
	.example-grid__item {
    	width: 50%;
    }
}
@media (min-width: 992px) {
    .template-blog {
        width: 72%;
        padding-right: 1.5rem;
    }
	.example-grid__item {
    	width: 33.333333%;
    }
    .template-sidebar {
        width: 28%;
    }
}

.portada {
    width: 100%;
    height: 200px;
    background-size: cover;
    background: rgba(0,0,0,.5);
    background-position: center top;
    background-image: url(../img/portada.jpg);
}

.menu {
  position: relative;
}
.menu nav {
  display: block;
  background: rgb(60, 60, 60);
  overflow: hidden;
}
.menu nav > a {
  float: left;
  color: #fff;
  padding: 1em;
  border-right: 1px solid rgba(0, 0, 0, 0.35);
  transition: background .2s;
  display: block;
}
.menu nav > a:hover {
  background: rgba(0,0,0,0.4);
}

/*botón*/
.menu .drop {
  color: #fff;
  padding: 1em;
  background: rgba(0,0,0,0.5);
  cursor: pointer;
  display: none;
}
.menu .drop svg {
  fill: #fff;
  vertical-align: middle;
}

@media only screen and (max-width: 768px) {
    .menu {
        background: rgb(60, 60, 60);
        height: 68px;
    }
        
  .menu .drop {display: inline-block;}/*volvemos a mostrar el botón*/
  .menu nav {/*ahora nuestro menú es una lista flotante*/
      position: absolute;
      z-index: 600;
      background: #121212;
      min-width: 20rem;
      display: none;
      top: 100%;left: 0;
  }
  .menu nav > a {/*y los ítems se alinean verticalmente*/
      float: none;
      border: 0 none;
  }
}

.submenu {
    display: block;
    background: rgb(76, 76, 76);
    overflow: hidden;
    border-top: #2d2d2d 1px solid;
}

.submenu nav > a {
    float: left;
    color: #fff;
    padding: 3px;
    border-right: 1px solid rgba(0, 0, 0, 0.25);
    transition: background .2s;
    display: block;
}

.footer {
    clear: both;
    background-color: #2f2e2e;
    color: white;
    text-align: center;
    padding: 11px;
    height: 46px;
    margin: 0 auto;
  }

/*pure css menu*/
.menu input {display: none}/*ocultamos el input*/
#toggle:checked ~ nav{
    display: block;
}
#toggle:checked ~ label{
    background: rgba(0,0,0,0.65);
}

/*comentarios*/

.detailBox {
    width: 100%;
    border: 1px solid #bbb;
    margin: 0 auto;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    float: left;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.autor {
    color: #aaa;
    font-family: verdana;
    font-size: 11px;
    float: left;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}