<div class="detailBox">
    <div class="titleBox">
      <label>Comentarios</label>
    </div>
    <div class="actionBox">
        <ul class="commentList">
            {{#if comentarios}}
                {{#each comentarios}}
                    <li>
                        <div class="commentText">
                            <span class="autor">{{autor}} </span>
                            <span class="texto-autor"> puntuó <span class="puntaje">{{puntaje}}/5 </span>y comentó:</span> 
                            <span class="">{{contenido}}</p>
                        </div>
                    </li>
                {{/each}}
            {{else}}
                <h2>Sin comentarios</h2>
            {{/if}}
        </ul>
    </div>
</div>
